.main-nav {
  text-align: center;
  margin-top: 10px;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav li {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border-left: 1px solid #333;
}
.main-nav li:first-child {
  border-left: none;
}
.main-nav a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
  padding: 0;
}
