body {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  min-width: 320px;
  background: #fff;
}

.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
}

.post-item {
  width: 80%;
  margin: 20px auto;
  padding: 15px 25px;
  border: 1px solid #ccc;
}

.post-time {
  color: #4c4c4c;
}

.post-btn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color:  #333;
  text-decoration: none;
  background-color: #E0E0E0;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  margin: 25px 0 0 0;
}
.post-btn:hover {
  background: #757575;
  color: #F5F5F5;
}